@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin:0; padding:0;
    box-sizing:border-box;
}

html {height:100%;}
body {
    height:100%; min-width:340px;
    font-family: 'GangwonEdu_OTFBoldA';
}

a {text-decoration:none; color:inherit;}
li {list-style:none;}

::-webkit-scrollbar {
    width:12px;
}

::-webkit-scrollbar-thumb {
    background:$main-color2;
    border-radius:3px;
}