@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 340px;
  font-family: "GangwonEdu_OTFBoldA";
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

#login_container {
  width: 100%;
  height: 100%;
  background-color: #F9F3CC;
}

.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login h1 {
  width: 95px;
  height: 90px;
  text-indent: -9999px;
  background-image: url("../img/cat.png");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.login .login_account {
  font-size: 0.9em;
  color: hsl(0, 0%, 33%);
}
.login .login_account a {
  margin: 0 5px;
}
.login .login_account span {
  color: rgba(0, 0, 0, 0.1);
}

.login_form {
  width: 240px;
  margin-bottom: 100px;
}
.login_form input {
  width: 240px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}
.login_form input::-moz-placeholder {
  color: #bbbbbb;
}
.login_form input::placeholder {
  color: #bbbbbb;
}
.login_form .login_formId {
  border-bottom: none;
  padding-left: 10px;
  border-radius: 6px 6px 0 0;
}
.login_form .login_formPw {
  border-top-color: rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  border-radius: 0 0 6px 6px;
}
.login_form .login_formBtn {
  background: #D7E5CA;
  color: hsl(0, 0%, 33%);
  margin: 8px 0;
  cursor: pointer;
  transition: 0.3s;
}
.login_form .login_formBtn:hover {
  background-color: #D2E0FB;
}
.login_form .login_formCheck {
  -webkit-appearance: unset;
     -moz-appearance: unset;
          appearance: unset;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid hsl(0, 0%, 33%);
}
.login_form .login_formCheck:checked {
  background: #D7E5CA;
}
.login_form label {
  font-size: 0.9em;
  color: hsl(0, 0%, 33%);
}

nav {
  width: 70px;
  height: 100%;
  border-radius: 0;
  position: fixed;
  background: #F9F3CC;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav .nav_list li {
  text-align: center;
  color: rgb(122, 122, 122);
  padding: 18px 0;
}
nav .nav_list li:nth-child(2) {
  padding-top: 16px;
  color: rgb(66, 66, 66);
}
nav .nav_list li:hover {
  color: black;
}
nav .nav_list.nav_bottom li {
  padding: 8px 0;
}

.chats {
  margin-left: 70px;
}

.header {
  position: sticky;
  top: 0;
  padding: 40px 20px 20px;
  background: #eff7e4;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 5px #f0f0f0;
  z-index: 10;
}
.header .header_title {
  font-size: 1.4em;
}
.header .header_menu span {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-block;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
}
.header .header_menu span:hover {
  background: rgb(235, 234, 234);
}/*# sourceMappingURL=main.css.map */